@charset "utf-8";
/* CSS Document */

.whitetext{
	color:#FFFFFF;
}

.blackbg{
	background-color:#000000;
}
.Nomargin{
	margin:0%;
	padding:0%;
}
.lgtext{
	font-size:18px;
}

@media screen and (max-width: 980px) {
	.imgresize img{
		height:225px;
		width:225px;
	}
	
}