<br>
<br>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">C++ Projects
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">C++ Projects</li>
  </ol>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/EmpDatabase">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\C++\EmployeeDB.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Employee Database</h3>
      <p>Employee Database is a C++ program that takes user inputs and stores into a textfile database. This program can create, search, delete, edit, and display all the information to the user.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/EmpDatabase">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/QuestionGame">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\C++\Question.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Question Game</h3>
      <p>Watson Hotel Management is a fictional company with a web application for small hotels to manage their hotel system. This web application was a group collabration project that I collaborated with three other teammates. This web application uses C# code to interact with the database while the HTML code interacts with the user.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/QuestionGame">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

</div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="pagination justify-content-center">
    <ngb-pagination [collectionSize]="10" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

<!-- /.container -->
