<br>
<br>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Java Projects
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Java Projects</li>
  </ol>

  <!-- Project Six -->
  <div class="row">

    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/JavaEmployeeDB">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/750x350" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Employee DataBase</h3>
      <p>Java Employee Database brings a full GUI experience on managing your employee’s information. All information is saved in a database and can be easily retrieved. You can now search, create, delete or edit information all in this application.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/JavaEmployeeDB">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Project Five -->
  <div class="row">

    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/JavaRouletteGUI">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/750x350" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Java Roulette GUI</h3>
      <p>Java Roulette GUI is a Java application with a full GUI design. Place your bets and get lucky in my game. This program was fun to make as this was my first-time using Java Swing.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/JavaRouletteGUI">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Project Four -->
  <div class="row">

    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/BlackJack">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\Java\BlackJack.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Black Jack</h3>
      <p>BlackJack, is a game where the player is verse the dealer. You start with two cards between 2 to 11. The objective is to sum your cards to 21 or have your cards sum higher than the dealer. You can keep hitting to increase your sum however if you pass 21, the dealer will win. The dealer can only go up to 17, so use that your advantage however if your sum of cards in equal to the dealer. The dealer will still win due to house rules.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/BlackJack">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/JavaCalculator">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\Java\JavaCalculator.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Java Calculator</h3>
      <p>Java Calculator is a simple calculator that can add, subtract, multiple, and divide. It can can also continue to add, subtract, multiple, and divide after the first two numbers that the user has given.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/JavaCalculator">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="pagination justify-content-center">
    <ngb-pagination [collectionSize]="10" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

</div>
<!-- /.container -->
