<br>
<br>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">IT Blog
    <small>Projects</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">IT Blog</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets\Images\ITBlog\HyperV700.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Hyper V 2016 Standalone</h2>
          <p class="card-text">In this project, I learned how to access the Hyper-V 2016 Standalone from the Hyper-V manager. The goal of this project was to understand how we can incorporate this operating system and create a completely virtualized environment like VMware ESXI environment.</p>
          <a href="ITBlog/HyperV.html" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on September 25, 2017
    </div>
  </div>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets\Images\ITBlog\wall700.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">PF-Sense Firewall</h2>
          <p class="card-text">The PF-Sense is an open source firewall that anyone can set up as a home or small business firewall. The goal for this project was to discover how this firewall works, and how strong the firewall is against outside intrusion. </p>
          <a href="ITBlog/PFSense.html" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on March 22, 2017
    </div>
  </div>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets\Images\ITBlog\Veeam700.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Veeam Image</h2>
          <p class="card-text">The project required a creative way to mass install an operating system to multiple machines with pre-installed software reducing time setting up workstations. Veeam with PXE boot, created an efficient way to deliver that solution.</p>
          <a href="ITBlog/VeeamImage.html" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on January 11, 2017
    </div>
  </div>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="assets\Images\ITBlog\ISCSI700.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title">Boot from ISCSI SAN</h2>
          <p class="card-text">Internet Small Computer System Interface(ISCSI) is used to connect the server to Storage Area Network(SAN). The purpose of this project is to boot an operating system from this massive storage in the network for a single point of failure.</p>
          <a href="ITBlog/ISCSI.html" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on October 13, 2016
    </div>
  </div>

  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

</div>
<!-- /.container -->
