<header>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://github.com/jasonyang1992/jasonyang1992.github.io/blob/master/Images/index/Slide3.jpeg?raw=true" alt="Random first slide" class="imgSize">
        </div>
        <div class="carousel-caption">
          <p>What have I been doing?</p>
          <a class="btn btn-lg btn-primary btn-block" href="WebProjects1.html">Check it Out</a>
          </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://github.com/jasonyang1992/jasonyang1992.github.io/blob/master/Images/index/Slide2.png?raw=true" alt="Random second slide" class="imgSize">
        </div>
        <div class="carousel-caption">
          <h3>Programs I Have been working on</h3>
          <a class="btn btn-lg btn-primary btn-block" href="Java1.html">Check it Out</a>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="https://github.com/jasonyang1992/jasonyang1992.github.io/blob/master/Images/index/Slide1.jpeg?raw=true" alt="Random third slide" class="imgSize">
        </div>
        <div class="carousel-caption">
          <h3>Just some IT stuff</h3>
          <a class="btn btn-lg btn-primary btn-block" href="ITBlog.html">Check it Out</a>
        </div>
      </ng-template>
    </ngb-carousel>
</header>

    <!-- Page Content -->
      <div class="container">
        <a name="#About"> </a>
        <a name="About"> </a>
        <h1 class="my-4 text-center">Welcome to Jason's Portfolio WebSite</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
          <div class="col-lg-6">
            <h2>About Me</h2>
            <p>Here What I have been up to:</p>
            <ul>
              <li>Learning coding languages like Python, Java, C++, powershell, SQL, and many more.</li>
              <li>On my free time, I have designed and coded interactive websites.</li>
              <li>Finding new challenages to test my coding skills</li>
              <li>Worked as an IT administrator, learning and implementing new technology to improve our client's infrastructure.</li>
            </ul>
            <p>My name is Jason Yang and I <strong>graduated from Baruch College</strong> with a bachelor degree in <strong>computer information systems</strong>. At a young age, I had a keen interest in computer hardware and software. It was very fascinating learning about how computers work and the limitless potential of what it can do. I enjoy fixing computers while also creating small programs that I like to share in GitHub.</p>
          </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="https://github.com/jasonyang1992/jasonyang1992.github.io/blob/master/Images/index/Bio_Image.png?raw=true" alt="hello">
          </div>
        </div>
        <!-- /.row -->
  <hr>

  <!-- Portfolio Section -->
      <h2>Recent Projects</h2>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://github.com/jasonyang1992/JavaRouletteGUI"><img class="card-img-top" src="http://placehold.it/700x400" alt="Java Roulette"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://github.com/jasonyang1992/JavaRouletteGUI">Java Roulette GUI</a>
              </h4>
              <p class="card-text">Java Roulette GUI is a Java application with a full GUI design. Place your bets and get lucky in my game. This program was fun to make as this was my first-time using Java Swing.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://jasonyang1992.github.io/PasswordGenerator/"><img class="card-img-top" src="http://placehold.it/700x400" alt="Password Generator"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://jasonyang1992.github.io/PasswordGenerator/">Password Generator</a>
              </h4>
              <p class="card-text">Password Generator was design in mind with a simple idea of creating random passwords that filled the core requirement of a strong password but was easy to remember. It took deep thoughts to create an algorithm that made sense to the human mind.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://github.com/jasonyang1992/JavaEmployeeDB"><img class="card-img-top" src="http://placehold.it/700x400" alt="Employee Database"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://github.com/jasonyang1992/JavaEmployeeDB">Java Employee Database</a>
              </h4>
              <p class="card-text">Java Employee Database brings a full GUI experience on managing your employee’s information. All information is saved in a database and can be easily retrieved. You can now search, create, delete or edit information all in this application.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <hr>

  </div>
