<br>
<br>
<br>
<!-- Page Content -->
<div class="container">
  <!-- title -->
    <h1 class="my-4 text-center">Jason Yang</h1>
    <hr>
    <!-- row -->
    <div class="row">
      <div class="col-lg-6">
        <h3 class="text-center">About Me</h3>       
        <p>I am a full stack web developer that leverages <strong>java</strong> and <strong>spring boot</strong> for my backend. For my database I use amazon's RDB <strong>Postgres</strong>. For my front-end technology, I use <strong>Angular 7</strong> to create static single web pages. As always I am continously learning to self improve myself and taking cerficiations.</p>
      </div>
      <div class="col-lg-6">
        <h3 class="text-center"> Technology </h3>
          <ul>
            <li>Core Java 8</li>
            <li>Spring Boot</li>
            <li>Postgres Database</li> 
            <li>Jenkins</li>
            <li>Angular 7</li>
          </ul>
      </div>
    </div>
    <!-- /.row -->
<hr>

<!-- Recent Projects -->
  <h3 class="text-center">Recent Projects</h3>

  <div class="row">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Technology Used</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
      </tr>
    </thead>

      <tbody>
        <!-- Bank Account back end-->
        <tr>
          <td>Bank Account Back End</td>
          <td>Java, Spring Boot</td>
          <td>Simple banking application depositing and withdrawing</td> 
          <td><a href="https://github.com/jasonyang1992/BankAccountBackEnd" target="_blank">View</a></td>
        </tr>

        <!-- Java Roulette GUI -->
        <tr>
          <td>Java Roulette GUI</td>
          <td>Java, Java Swing</td>
          <td>Full GUI experience of playing Roulette</td>
          <td><a href="https://github.com/jasonyang1992/JavaRouletteGUI" target="_blank">View</a></td>
        </tr>

        <!-- Password Generator-->
        <tr>
          <td>Password Generator</td>
          <td>Bootstrap, Javascript</td>
          <td>Web application that generates passwords</td> 
          <td><a href="https://jasonyang1992.github.io/PasswordGenerator/" target="_blank">View</a></td>
        </tr>

        <!-- Java Employee Database-->
        <tr>
          <td>Java Employee Database</td>
          <td>Java, UCanAccess, MS Access, Java Swing</td>
          <td>Application that allows entering employee data</td>
          <td><a href="https://github.com/jasonyang1992/JavaEmployeeDB" target="_blank">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>
  
</div>

