<br>
<br>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Web Projects
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Web Projects</li>
  </ol>

  <!-- Project Five -->
  <div class="row">

    <div class="col-md-7">
      <a href="https://jasonyang1992.github.io/PasswordGenerator/">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/750x350" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Password Generator</h3>
      <p>Password Generator was design in mind with a simple idea of creating random passwords that filled the core requirement of a strong password but was easy to remember. It took deep thoughts to create an algorithm that made sense to the human mind.</p>
      <a class="btn btn-primary" href="https://jasonyang1992.github.io/PasswordGenerator/">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Project Four -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/CollegeCooking">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\WebProjects\College_Cooking.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>College Cooking</h3>
      <p>College Cooking is a website for College Students that want to learn how to cook simple recipes or create a daily meal for themselves during their college years. This is a project that I worked on as a class project. I used a bootstrap layout to map the website. The websites starts as a random hierarchy and then laters goes into a linear hierarchy.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/CollegeCooking">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Three -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/Hotel-WebV2">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\WebProjects\WHM.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Watson Hotel Management</h3>
      <p>Watson Hotel Management is a fictional company with a web application for small hotels to manage their hotel system. This web application was a group collabration project that I collaborated with three other teammates. This web application uses C# code to interact with the database while the HTML code interacts with the user.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/Hotel-WebV2">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="https://github.com/jasonyang1992/WPA-site">
        <img class="img-fluid rounded mb-3 mb-md-0" src="assets\Images\WebProjects\WPA1.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Web Programming Academy v1</h3>
      <p>Web Programming Academy is a website for anyone who wants to explore web programming. It is a tutorial website for beginner or someone who is interest in making their own website. The tutorial website contains detail explaination for HTML, CSS, and JavaScript code.</p>
      <a class="btn btn-primary" href="https://github.com/jasonyang1992/WPA-site">View Project
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="pagination justify-content-center">
    <ngb-pagination [collectionSize]="10" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>

</div>
<!-- /.container -->
